<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@game.picture, :width => 800) if @game.picture.present? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @game.gtype %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @game.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<h3>Comments</h3>
<table>
<tr>
<th><th>
</tr>

<% @game.reviews.each do |review| %>
<tr>
<td><%= review.comment %></td>
</tr>
<% end %>
</table>

<% if user_signed_in? %>
<p><%= link_to 'New Comment', new_game_review_path(@game) %></p>
<% end %>

<p><%= link_to 'All Games', root_path %></p>
