
<h1>Games</h1>

<div id="searchbar">
Search <%= form_tag(root_path, :method => 'get') do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :name => nil  %>
<% end %>
</div>


<h2>Listing games</h2>


<table>
  <thead>
    <tr>
      <th></th>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "type", "Type" %></th>
      <th><%= sortable "rating", "Rating" %></th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= image_tag(game.picture_url, :width => 200) if game.picture.present? %></td>
        <td><%= link_to game.name, game %></td>
        <td><%= game.gtype %></td>
        <td><%= game.rating %></td>
        <td><%= game.description %></td>
	<% if user_signed_in? %>
	<% if game.user_id ==(current_user.id) %>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      	<% end %>
	<% end %>
	</tr>
    <% end %>
  </tbody>
</table>

<br>

<table id="table3">

<tr>
<% if user_signed_in? %>
<td><%= link_to 'New Game', new_game_path %></td>
<% else %>
<td>You must be signed in to add a game review</td>
<% end %>
</tr>
</table>
